/* Gray Scale */
$dark: #000;
$dark-80: #000000cc;
$dark-60: #00000099;
$dark-40: #d9d9d9;
$dark-20: #efefef;

/* Colors */
$dark-0: #ffffff;
$dark-100: #000;
$gray-01: #f8f8f9;
$gray-02: #3f3f3f;
$gray-03: #c6c6c6;

$blue: #325de3;
$blue-gray: #97a8db;
$dark-40: #d9d9d9;
$dark-20: #efefef;
$main-red: #e55024;
$main-yellow: #f5b415;
$main-green: #7bb22a;
$main-blue: #2399d7;
$main-purple: #a674b0;

/* Backgrounds */
$bg-primary: #fff;
$bg-light-01: #f9f8f8;
$bg-light-02: #efefef;
$bg-blue-dark: #2f50b6;
$bg-translucent: linear-gradient(0deg, #ffffff, #ffffff),
  linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25));

/* Trade */
$t-green: #05c5a3;
$t-red: #e35654;
$bg-light-01: #f9f8f8;
$bg-blue-dark: #2f50b6;
$bg-blue-gray: #4e6ac1;

/* 主題樣式 */
$themes: (
  light: (
    main-red: #e55024,
    main-yellow: #f5b415,
    main-green: #7bb22a,
    main-blue: #2399d7,
    main-purple: #a674b0,
    gray-01: #f8f8f9,
    gray-02: #3f3f3f,
    gray-03: #c6c6c6,
    dark-0: #fff,
    dark-100: #000,
    bg-translucent:
      linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.25),
        rgba(255, 255, 255, 0.25)
      ),
  ),
  dark: (
    main-red: #e55024,
    main-yellow: #f5b415,
    main-green: #7bb22a,
    main-blue: #2399d7,
    main-purple: #a674b0,
    gray-01: #f8f8f9,
    gray-02: #3f3f3f,
    gray-03: #c6c6c6,
    dark-0: #fff,
    dark-100: #000,
    bg-translucent:
      linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.25),
        rgba(255, 255, 255, 0.25)
      ),
  ),
);

@mixin themeify {
  @each $theme-name, $theme-map in $themes {
    $theme-map: $theme-map !global;
    [data-theme='#{$theme-name}'] & {
      @content;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

/* 背景色 */
@mixin background_color($color) {
  @include themeify {
    background-color: themed($color);
  }
}
@mixin background($color) {
  @include themeify {
    background: themed($color);
  }
}
/* 顏色 */
@mixin color($color) {
  @include themeify {
    color: themed($color);
  }
}

/* 邊框色 */
@mixin border($color) {
  @include themeify {
    border-color: themed($color);
  }
}
