@font-face {
  font-family: 'NotoSansRegular';
  font-display: auto;
  src: url(./NotoSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'NotoSansMedium';
  font-display: auto;
  src: url(./NotoSans-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'NotoSansBold';
  font-display: auto;
  src: url(./NotoSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'NotoSansBoldItalic';
  font-display: auto;
  src: url(./NotoSans-BoldItalic.ttf) format('truetype');
}
